*.swp

./lib/**/.git

*.user
*.sdf
*.opensdf
*/svnrev.h
*.suo
*.log
*.ncb
Debug
Release
Release_Pipeline
Debug_Pipeline
*.swp
*.bak
cppcheck.xml
TestResults
*.VC.db
*.VC.opendb
.vs

./lib/**/Release_Binary/AIModuleLoader
./lib/**/Release_Binary/Chaoslauncher/Plugins/BWAPI_*
./lib/**/Release_Binary/Chaoslauncher/BWAPI*
./lib/**/Release_Binary/ExampleAIClient
./lib/**/Release_Binary/ExampleAIModule
./lib/**/Release_Binary/ExampleTournamentModule
./lib/**/Release_Binary/include
./lib/**/Release_Binary/BWAPILIB
./lib/**/Release_Binary/BWAPIClient
./lib/**/Release_Binary/Shared
./lib/**/Release_Binary/MPQdraft/BWAPI_*
./lib/**/Release_Binary/Starcraft/SNP_DirectIP.snp
./lib/**/Release_Binary/Starcraft/bwapi-data/BWAPI*.dll
./lib/**/bwapi/libReplayToolTest/TestData/Replay_Tool_Actual.exe
./lib/**/bwapi/ipch/
./lib/**/Release_Binary/Chaoslauncher/__log.txt
./lib/**/Release_Binary/ExampleAIClient/Source/
./lib/**/bwapi/packages/
./lib/**/apps/cygwin/
./lib/**/apps/http*
./lib/**/BWAPI.7z
